body {
    font-family: 'Lato', sans-serif;
}

/* nav related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../Flower Asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {

    display: flex;
    justify-content: space-between;

}

.nav-title {
    padding: 100px 200px;
    width: 700px;
}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 30px;
}

.nav-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.primary-btn {
    border-radius: 5px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
}

